<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Movies, Linyun Liu"/>
    <meta name="theme-color" content="#0c0c0c">
    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/watchlist.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="js/watchlist.js"></script>
    <title>Watch List</title>
</head>
<body onload="retrieveWatchList()">
    <div class="nav">
        <a asp-controller="Home" asp-action="Index"><img src="favicon.png" alt="" class="icon"></a>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="WatchList" asp-action="Index" style="color: #e48e66;">Watchlist</a>
        <a asp-controller="About" asp-action="Index">About</a>
    </div>
    <br><br><br><br><br>
    <main>
        <div class="watchlist" id="watchlist">
            
        </div>
        <div class="detail" id="detail">
            <div class="top">
                <p class="close" onclick="toggleDetail(false)">CLOSE</p>
                <div class="top-left">
                    <div style="width: 200px; height: 280px; overflow: hidden;"><img class="poster" id="poster" src="" alt=""></div>
                </div>
                <div class="top-right">
                    <p class="title" id="title"></p>
                    <p class="director" id="director"></p>
                    <p class="year-time-rated" id="year-time-rated"></p>
                    <p class="genre" id="genre"></p>
                    <div class="ratings" id="ratings">
                        <img class="imdb" src="" alt="">
                        <p></p>
                        <img class="rt" src="" alt="">
                        <p></p>
                    </div>
                    <button id="add-button"></button>
                </div>
            </div>
            <div class="bottom">
                <p id="plot"></p>
            </div>
        </div>
        <span class="loader" id="loader"></span>
        <div class="footer">
            <p><i class="bi bi-patch-check-fill" style="color: lightblue; transform: translateY(-2px)"></i> 2024 Linyun |
                <a style="color: dimgray" asp-controller="Login" asp-action="Logout">Logout</a></p>
        </div>
    </main>
    <br><br><br><br><br>
</body>
</html>