*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'nasalization';
  src: url('../fonts/nasalization.otf')
}
@font-face {
  font-family: 'dystopian';
  src: url('../fonts/dystopian.otf')
}
body{
  background-color: #222222;
  padding: 0;
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
div.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0c0c0c;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding-left: 25px;
  z-index: 999;
}
div.nav a{
  cursor: pointer;
  font-family: 'nasalization', serif;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
  color: antiquewhite;
  transition: .2s all ease-in-out;
}
div.nav a:hover{
  color: #e48e66;
}
img.icon{
  width: 35px;
  margin-right: 20px;
}
div.search-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
input.search{
  width: 70vw;
  max-width: 700px;
  min-width: 350px;
  height: 45px;
  padding: 0 10px 0 80px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #222222;
  outline: none;
  margin-right: 10px;
  background-color: antiquewhite;
  backdrop-filter: blur(8px);
  font-family: 'nasalization', serif;
  position: relative;
}
button.btn-search{
  cursor: pointer;
  height: 45px;
  width: 20vw;
  min-width: 40px;
  max-width: 200px;
  border: none;
  color: antiquewhite;
  border-radius: 4px;
  background-color: #0c0c0c;
  font-family: 'nasalization', serif;
  font-size: 16px;
  position: relative;
  transition: .2s all ease-in-out;
}
div.search-result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  max-width: 1000px;
  margin-top: 40px;
}
div.search-result div{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
div.search-result div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: .1s all ease-in-out;
}
div.search-result div img:hover{
  border: 2px solid #e48e66;
  opacity: 0.8;
}
div.search-result div p{
  width: 150px;
  font-family: 'nasalization', serif;
  margin: 0 0 0 10px;
  font-size: 14px;
  white-space: nowrap;
}

div.detail{
  position: fixed;
  width: 90vw;
  max-width: 910px;
  min-width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  display: none;
  flex-direction: column;
  padding: 40px;
}
p.close{
  cursor: pointer;
  color: dimgray;
  position: absolute;
  top: -10px;
  right: 5px;
  font-family: 'nasalization', serif;
  font-size: 14px;
  transition: .2s all ease-in-out;
}
p.close:hover{
  color: darkgray;
}
img.poster{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.top{
  display: flex;
  flex-direction: row;
}
div.top-left{
  margin: 0 20px 0 0;
}
div.top-right{
  display: flex;
  flex-direction: column;
}
p.title{
  font-family: 'dystopian', serif;
  color: antiquewhite;
  margin: 0;
  font-size: clamp(18px, 5vw, 36px);
}
p.director{
  font-family: 'nasalization', serif;
  color: darkgray;
  margin: 0;
  font-size: clamp(8px, 2vw, 14px);
  font-style: italic;
}
p.year-time-rated{
  font-family: 'nasalization', serif;
  color: darkgray;
  margin: 10px 0 0 0;
  font-size: clamp(8px, 2vw, 14px);
}
p.genre{
  font-family: 'nasalization', serif;
  color: darkgray;
  margin: 0;
  font-size: clamp(8px, 2vw, 14px);
}
div.ratings{
  margin: 10px 0 0 -5px;
  display: flex;
  flex-direction: row;
}
div.ratings p{
  font-family: 'nasalization', serif;
  margin: -2px 15px 0 5px;
  color: antiquewhite;
  
}
div.top-right button{
  cursor: pointer;
  margin: 20px 0 0 -2px;
  background-color: #f7c702;
  color: #0c0c0c;
  height: 35px;
  border: none;
  font-family: 'nasalization', serif;
  font-size: 14px;
  border-radius: 4px;
}
img.imdb{
  margin: 0;
  width: 38px;
  height: 15px;
  border-radius: 2px;
}
img.rt{
  margin: 0;
  width: 18px;
  height: 18px;
}
div.bottom{
  font-family: 'nasalization', serif;
  color: darkgray;
  height: 220px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  overflow: scroll;
  font-size: clamp(12px, 2vw, 16px);
}




div.footer{
  margin-top: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  left: 20px;
  color: lightblue;
  font-family: 'nasalization', serif;
  font-size: 12px;
}
/*Loader*/
span.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid gray;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
button.btn-search::after{
  opacity: 0;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), salmon, darkorange, yellow, darkorange, salmon);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  transform: scaleY(1.05) scaleX(1.01);
  animation: 3s spin linear infinite;
  transition: 0.3s all ease-in-out;
  border-radius: 4px;
}
@keyframes spin{
  0%{
    --angle: 0deg;
  }

  100%{
    --angle: 360deg;
  }
}
button.btn-search:hover::after{
  opacity: 1;
}

/*Toggle Button*/
label.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  z-index: 888;
  top: 50%;
  left: 1%;
  translate: -1% -50%;
}
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgray;
  -webkit-transition: .4s;
  transition: .4s;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: antiquewhite;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #e48e66;
}
input:focus + .slider {
  box-shadow: 0 0 1px #e48e66;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}
.slider.round:before {
  border-radius: 4px;
}
p.toggle-ai-text{
  position: absolute;
  left: 0;
  translate: 0;
  color: darkgray;
  font-family: 'nasalization', serif;
  font-size: 12px;
}